/* Container centers the form on the page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* dark background */
}

/* Form styling */
.login-form {
    padding: 3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Title */
.login-title {
    color: black;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

/* Inputs */
.login-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    border: 1px solid black;
}

.login-input::placeholder {
    color: #aaaaaa;
}
.btn{
    display: flex;
    width: 100%;
    height: 50px;
    gap: 1;
}
.login-btn{
    width: 50%;
}

/* Buttons */
.login-btn,
.register-btn {
    flex: 1;       /* equal width */
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center; /* center text for NavLink */
    text-decoration: none; /* remove underline for NavLink */
    display: inline-block; /* make NavLink behave like a button */
    transition: all 0.2s ease;
}

.login-btn {
    background-color: #ffffff;
    color: #121212;
    border: 1px solid black;
}

.login-btn:hover {
    background-color: #e0e0e0;
}

.register-btn {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.register-btn:hover {
    background-color: #333333;
}
