/* Container centers the form */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* Form styling */
.register-form {
    padding: 3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Title */
.register-title {
    color: black;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

/* Inputs */
.register-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    border: 1px solid #444444;
}

.register-input::placeholder {
    color: #aaaaaa;
}

/* Button */
.btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}
.register1-btn,
.login1-btn {
    flex: 1;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.register1-btn {
    background-color: #121212;
    color: white;
    border: 1px solid black;
}

.register1-btn:hover {
    background-color: #333333;
    transform: translateY(-1px);
}

.login1-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.login1-btn:hover {
    background-color: #e0e0e0;
    color: white;
    transform: translateY(-1px);
}
